
export(sim.bd.taxa, sim.bd.age, sim.bd.taxa.age, sim.rateshift.taxa, sim.gsa.taxa,corsim,LTT.plot,LTT.plot.gen,getx,sim.bdtypes.stt.taxa,sim.bdsky.stt,cuttree,sim.genespeciestree,sim.genetree)

import(ape)
importFrom(laser,gamStat)
importFrom(geiger,drop.extinct)
importFrom(graphics, axis, lines, locator, plot)
importFrom(stats, reorder, rexp, runif)